body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }
  body title {
    margin: 0 auto; }
  body title.large-title {
    font-size: 30px; }
  body a {
    color: black; }
    body a:hover {
      color: red; }
  body h1 {
    font-size: 35px;
    color: orange; }
